html{scroll-behavior:smooth}
body {
  background: -webkit-linear-gradient(bottom, #16222A 0%, #3A6073 100%);
  background: -o-linear-gradient(bottom, #16222A 0%, #3A6073 100%);
  background: linear-gradient(to top, #16222A 0%, #3A6073 100%);
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 5rem;
}

.nav{
  padding-left: 20px;
  padding-right: 20px;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

/* CSS FOR MAIN DIV */
.maindiv {
  color: white;
}

.intro {
  height: 90vh;
  padding-top: 100px;
  font-family: 'Raleway', sans-serif;
}

.intro {
  height: 90vh;
  font-family: 'Raleway', sans-serif;
}

.right-separator{
  width:45%;
  display:inline-block;
  background-color: white;

}
.about-img{
  width: 250px;
  border-radius:1000px;
  margin: 25px auto auto auto;
  text-align: center;
}
.body{
  margin-top: 25px;
}
.text-gray{
  color: #B7D4FF;
}
.text-green{
  color: #03CEA4;
}
.btn-touch{
    color: #03CEA4;
    border-color: #03CEA4;
}
.btn-touch:hover{
  background-color: #03CEA4;
  border-color: #03CEA4;

}
.intro-desc{
  margin-top: 50px;
  margin-bottom: 50px;
}
/* ------Experience------- */

.experience{
  width: 600px;
}
.title{
  margin-top: 100px;
  width: 60%;

}

.exp-separator{
  width:30%;
  display:inline-block;
  background-color: white;

}


/* ------/Experience------- */









/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 4rem;
  }

  .title{
    margin-top: 100px;
    width: 70%;

  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  .experience{
    margin-top: 100px;
    width: 300px;
    padding: 0 0 0 0;
  }

  .title{
    margin-top: 100px;
    width: 80%;

  }
  .tabs{
    width: 90%;
    margin-left: 0;
    margin-right: 0;
  }
}
